Package: com.sassoty.cleanshot
Name: CleanShot
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: No status bar in screenshots!
Maintainer: Sassoty <sassoty@gmail.com>
Author: Sassoty <sassoty@gmail.com>
Section: Tweaks
